.list-group {
    max-height: calc( 100vh - 110px );
    overflow: scroll;
}

#mainyml {
    width: 100%;
    max-width: 100%;
}

li.danger a {
    color: #d9534f !important;
}

.nav.nav-pills.nav-stacked {
    margin: 0;
}

.nav.nav-pills.nav-stacked .active,
.nav.nav-pills.nav-stacked .active a {
    background-color: #eee;
    border-radius: 0;
    color: #333;
}

.pre {
    word-break: break-all;
    word-wrap: break-word;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}